<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-CN">
<head>
    <title>搜索结果：</title>
    <script src="/js/jquery-3.4.1.min.js" type="application/javascript"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
    <script src="/js/my.js" type="application/javascript"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="/css/community.css"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<!--标题-->
<div th:replace="~{sub-nav::head}"></div>
<div class="table-margin">
    <div class="alert alert-info search-alert " role="alert">
        <span>以下是</span>
        <strong th:text=" ${word} "></strong>
        <span>在</span>
        <strong th:if="${'search/ref'== target }" th:text="路线编号"></strong>
        <strong th:if="${'search/name'== target }" th:text="路线名称"></strong>
        <strong th:if="${'search/origin'== target }" th:text="起始点"></strong>
        <strong th:if="${'search/destination'== target }" th:text="终点"></strong>
        <span>下的搜索结果：</span>
        <a href="/info/" class="alert-link search-alert-a">返回首页
            <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
        </a>
    </div>
    <!--表格-->
    <div th:replace="~{sub-table::table}"></div>
</div>
<div>
    <div class="col-xs-0 col-sm-2 col-md-3 col-lg-4  ">
    </div>
    <div class="col-xs-12 col-sm-8 col-md-6 col-lg-4  ">
        <nav th:if="${pageInfo.getPageHelpInfo().getPages()>1}" class="page-nav" aria-label="Page navigation">
            <ul class="pagination">
                <li th:if="${pageInfo.showFirst}">
                    <a th:href="${'/' + target + '/' + 1 +endParam}" aria-label="First">
                        <span aria-hidden="true">&lt;&lt;</span>
                    </a>
                </li>
                <li th:if="${pageInfo.showPre}">
                    <a th:href="${'/' + target + '/' + pageInfo.getPageHelpInfo().getPrePage()+endParam}"
                       aria-label="Previous">
                        <span aria-hidden="true">&lt;</span>
                    </a>
                </li>

                <li th:each="page : ${pageInfo.pages}" th:classappend="${page==pageInfo.currentPage}?'active'">
                    <a th:href="${'/' + target + '/' + page +endParam}" th:text="${page}"></a>
                </li>

                <li th:if="${pageInfo.showNext}">
                    <a th:href="${'/' + target + '/' + pageInfo.pageHelpInfo.getNextPage()+endParam}" aria-label="Next">
                        <span aria-hidden="true">&gt;</span>
                    </a>
                </li>
                <li th:if="${pageInfo.showEnd}">
                    <a th:href="${'/' + target + '/' + pageInfo.pageHelpInfo.getPages()+endParam}" aria-label="End">
                        <span aria-hidden="true">&gt;&gt;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="col-xs-0 col-sm-2 col-md-3 col-lg-4  ">
    </div>
</div>
</body>
</html>