<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-CN">
<head>
    <script src="/js/jquery-3.4.1.min.js" type="application/javascript"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="/css/community.css"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title></title>
</head>
<body>
<div th:fragment="head">
    <nav class="navbar navbar-default">
        <div class="container-fluid head-brand">
            <div class="navbar-header ">
                <a class="navbar-brand" href="/info/">省道管理系统</a>
            </div>
        </div>
    </nav>
</div>
</body>

</html>
