<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-CN">
<head>
    <script src="/js/jquery-3.4.1.min.js" type="application/javascript"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
    <script src="/js/my.js" type="application/javascript"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="/css/community.css"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title></title>
</head>
<body>
<div th:fragment="table">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Field ID</th>
            <th>
                路线编号
                <a class="table-icon" href="/search/ref">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                </a>
            </th>
            <th>路线简称
                <a class="table-icon" href="/search/name">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                </a>
            </th>
            <th>起始点
                <a class="table-icon" href="/search/origin">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                </a>
            </th>
            <th>终点
                <a class="table-icon" href="/search/destination">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                </a>
            </th>
            <th>里程(km)</th>
            <th>控制&nbsp;&nbsp;
                <!--添加-->
                <button type="button" class="btn btn-link my-btn-link" data-toggle="modal" data-target="#addModal">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                </button>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each=" item : ${provRoadList}">
            <th th:text="${item.id}"></th>
            <td th:text="${item.ref}"></td>
            <td th:text="${item.name}"></td>
            <td th:text="${item.origin}"></td>
            <td th:text="${item.destination}"></td>
            <td th:text="${item.distance}"></td>
            <td>
                <!--操作-->
                <div>
                    <!--修改-->
                    <button th:onclick="modifyById([[${item.id}]],[[${item.ref}]],[[${item.name}]],[[${item.origin}]],[[${item.destination}]],[[${item.distance}]])"
                            type="button"
                            class="btn btn-link my-btn-link"
                            data-toggle="modal" data-target="#modifyModal">
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                    </button>
                    &nbsp;&nbsp;&nbsp;
                    <!--删除-->
                    <button th:onclick="'deleteById('+ ${item.id} +')'" type="button"
                            class="btn btn-link my-btn-link"
                            data-toggle="modal" data-target="#deleteModal">
                        <span class="glyphicon glyphicon-trash" aria-hidden="true">
                    </button>
                </div>
            </td>
        </tr>
        <!--添加弹框-->
        <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">添加</h4>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label for="provRoadRefAdd">路线编号</label>
                                <input name="ref" type="text" class="form-control" id="provRoadRefAdd"
                                       placeholder="不能为空...">
                            </div>
                            <div class="form-group">
                                <label for="provRoadNameAdd">路线简称</label>
                                <input name="name" type="text" class="form-control" id="provRoadNameAdd"
                                       placeholder="不能为空...">
                            </div>
                            <div class="form-group">
                                <label for="provRoadOriginAdd">起始点</label>
                                <input name="origin" type="text" class="form-control" id="provRoadOriginAdd"
                                       placeholder="不能为空...">
                            </div>
                            <div class="form-group">
                                <label for="provRoadDestinationAdd">终点</label>
                                <input name="destination" type="text" class="form-control" id="provRoadDestinationAdd"
                                       placeholder="不能为空...">
                            </div>
                            <div class="form-group">
                                <label for="provRoadDistanceAdd">里程(km)</label>
                                <input name="distance" type="text" class="form-control" id="provRoadDistanceAdd"
                                       placeholder="不能为空，且必须为数字...">
                            </div>
                        </form>
                    </div>
                    <script>
                        function jumpAdd() {
                            UpdateProvRoadAdd();
                            post('/add', {
                                ref: provRoad.ref,
                                name: provRoad.name,
                                origin: provRoad.origin,
                                destination: provRoad.destination,
                                distance: provRoad.distance
                            });
                        }

                        function UpdateProvRoadAdd() {
                            provRoad.ref = document.getElementById("provRoadRefAdd").value;
                            provRoad.name = document.getElementById("provRoadNameAdd").value;
                            provRoad.origin = document.getElementById("provRoadOriginAdd").value;
                            provRoad.destination = document.getElementById("provRoadDestinationAdd").value;
                            provRoad.distance = document.getElementById("provRoadDistanceAdd").value;
                        }
                    </script>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>

                        <button onclick="jumpAdd()" type="button" class="btn btn-danger">
                            确认
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!--编辑弹框-->
        <div class="modal fade" id="modifyModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">编辑</h4>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label for="provRoadRef">路线编号</label>
                                <input name="ref" type="text" class="form-control" id="provRoadRef"
                                       placeholder="不能为空...">
                            </div>
                            <div class="form-group">
                                <label for="provRoadName">路线简称</label>
                                <input name="name" type="text" class="form-control" id="provRoadName"
                                       placeholder="不能为空...">
                            </div>
                            <div class="form-group">
                                <label for="provRoadOrigin">起始点</label>
                                <input name="origin" type="text" class="form-control" id="provRoadOrigin"
                                       placeholder="不能为空...">
                            </div>
                            <div class="form-group">
                                <label for="provRoadDestination">终点</label>
                                <input name="destination" type="text" class="form-control" id="provRoadDestination"
                                       placeholder="不能为空...">
                            </div>
                            <div class="form-group">
                                <label for="provRoadDistance">里程(km)</label>
                                <input name="distance" type="text" class="form-control" id="provRoadDistance"
                                       placeholder="不能为空，且必须为数字...">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>

                        <button onclick="jumpModify()" type="button" class="btn btn-danger">
                            确认
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!--删除弹框-->
        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">警告</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-4">
                                <strong>确认删除？操作不可撤销</strong>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        <button onclick="jumpDelete()" type="button" class="btn btn-danger">
                            确认
                        </button>
                    </div>
                </div>
            </div>
        </div>
        </tbody>
    </table>
</div>
</body>
</html>